.DashLTileText {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.DashLButtons {
    padding-left: 10px;
}

.DashLGoalRow {
    padding-left: 15px;
}

#DashLDashTileBackground {
    height: 129px;
    width: 1050px;
    border-radius: 12px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#DashLMainColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

#DashLDashTileBackground:hover {
    cursor: pointer;
}

#DashLGoalNo {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #545454;
}

#DashLGoalDetails {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #545454;
}

#DashLBottomRow {
    margin-top: 10px;
}

#DashLGoalDeadline {
    margin-top: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #ABABAB;
}

#DashLGoalOptions {
    float: right;
}
