.GLTileText {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.GLButtons {
    padding-left: 10px;
}

.GLGoalRow {
    padding-left: 15px;
}

#GLDashTileBackground {
    height: 105px;
    width: 95%;
    border-radius: 12px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#GLMainColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

#GLDashTileBackground:hover {
    cursor: pointer;
}

#GLGoalNo {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #545454;
}

#GLGoalDetails {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #545454;
}

#GLBottomRow {
    margin-top: 10px;
}

#GLGoalDeadline {
    margin-top: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #ABABAB;
}

#GLGoalOptions {
    float: right;
}
