#LBLogoBox {
    box-shadow: inset 4px 10px 40px #00000020;
    background-color: '#E8F0F2';
    height: 50px;
    width: 50px;
    border-radius: 6px;
    margin-left: 16px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}