#ProfilePageGeneric {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #545454;
    padding-top: 56px;
    background-color: #E8F0F2;
    overflow: auto;
    min-height: 100vh;
    line-height: 1.5;
}
.ProfilePageMainHeader {
    font-size: 36px;
    font-weight: bold;
    color: #545454
}

.ProfilePageSectionHeader {
    font-size: 20px;
    font-weight: bold;
    color: #545454
}

.ProfilePageItemHeader{
    font-weight: bold;
}

.ProfilePicture {
    width: 108px;
    height: 108px;
    border-radius: 50%;
}

#ProfilePageSkill {
    height: 16px;
    font-size: 11px;
    font-weight: 700;
    margin-right: 8px;
    background-color: #40effc65;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 15px;
    width: fit-content;
    color: #00A9B4;
}