.WDText {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

#WDBase {
  height: calc(100vh - 3px);
  width: calc(100% - 15px);
}

#WDBackground {
  height: 100%;
}

#WDNavCol {
  background-color: white;
}

#WDMainCol {
  background-color: #E8F0F2;
}

#WDHeader {
  background-color: #174B4F;
  height: 30%;
  align-items: center;
  font-size: 24px;
}

#WDHeaderTexts {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 40px;
  color: white;
}

#WDHeaderTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;;
}

#WDHeaderSubtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #47CAD2;
}

#WDBody {

}


