.emptyRow {
  height: 30px;
  line-height: 30px;
}

.spacer {
  height: 20px;
  line-height: 20px;
}

.WDGoalsTile {
  width: 100%;
  display: inline-block;
  align-items: flex-start;
  justify-content: flex-start;
}

#WDBase {
  height: calc(100vh - 3px);
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  background-color: #E8F0F2;
  margin: 0;
  padding: 0;
}

#WDHeader {
  background-color: #174B4F;
  height: 30%;
  align-items: center;
  font-size: 24px;
  padding-left: 60px;
}

#WDHeaderTexts {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 15px;
  color: white;
}

#WDHeaderTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;;
}

#WDHeaderSubtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #47CAD2;
}

#WDBody {
  height: 70%;
  padding-left: 60px;
}

#WDHighlightsBG {
  height: 140px;
  padding: 0px;
  margin-top: -70px;
}

.WDHighlightsTile {
  margin-right: 20px;
  width: fit-content;
}

#WDSectionBG {
  height: 292px;
  padding: 0px;
  margin-top: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  
  color: #31CAD3;
}

.WDSectionTile {
  margin-right: 20px;
  width: fit-content;
}

.WDModalTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #1E1E1E;
  margin-left: 8px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.WDLabel {
  font-size: 12px;
  color: #1E1E1E;
  margin-left: 6px;
  font-weight: bold;
}

.WDInputText {
  font-size: 14px;
  width: 600px;
  height: 30px;
  outline: none;
  border: 0;
  background-color: #ebebeb;
  border-radius: 8px;
  padding-left: 8px;
  margin-left: 20px;
}