.WDText {
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
}

#WDBase {
  height: calc(100vh - 10px);
}

#WDBackground {
  height: 100%;
}

#WDNavCol {
  background-color: white;
}

#WDMainCol {
  background-color: #E8F0F2;
}

