.emptyRow {
  height: 30px;
  line-height: 30px;
}

.spacingRow {
  height: 10px;
  line-height: 10px;
}

.GDBase {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #545454;
  
  max-width: 50vw;
  overflow-x: hidden;
}

.GDHeaderTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  
  color: #545454;
}

.GDHeaderLogo {
    box-shadow: inset 4px 10px 40px white;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 6px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.GDHeaderSub1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  
  color: #ABABAB;
}

.GDHeaderSub2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  
  color: #ABABAB;
}

.GDHeaderTags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  
}

.GDSectionTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  
  color: #545454;

}

.GDSectionContent {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  color: #545454;
}

.GDSectionSubTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  
  color: #545454;

}

.test {
  border: 1px solid red;
}