.DLTTileText {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.DLTSpacer {
    margin-top: auto;
}

.DLTBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
}

#DLTDashTileBackground {
    height: 190px;
    width: 280px;
    border-radius: 12px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#DLTMainColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

#DLTDashTileBackground:hover {
    cursor: pointer;
}

#DLTLogoBox {
    box-shadow: inset 4px 10px 40px #00000020;
    background-color: '#E8F0F2';
    height: 50px;
    width: 50px;
    border-radius: 6px;
    margin-left: 16px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#DLTLogoImg {
    height: 26px;
    width: 26px;
    display: block;
    margin: 0 auto;
}

#DLTCompanyName {
    font-size: 20px;
    font-weight: bold;
    color: #545454;
    margin-top: 3px;
}

#DLTCompanyLocation {
    font-weight: bold;
    color: #ABABAB;
}

#DLTJobTitle {
    color: #545454;
    font-weight: bold;
    margin-top: 26px;
}

#DLTJobDesc {
    color: #ABABAB;
}

#DLTDashPayTextBox {
    margin-top: auto;
}

.DLTPayText {
    font-size: 18px;
    font-weight: bold;
}

#DLTPayForCol {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#DLTPayForText {
    align-self: flex-start;
    text-align: start;
    color: #ABABAB;
}

#DLTHighlight {
    height: 18px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 8px;
    background-color: #08F0FF2E;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    color: #00A9B4;
}