.SBBorderRadius {
    border-radius: 12px;
}

#SBSearchText {
    width: 505px;
    height: 40px;
    margin-left: 16px;
    outline: none;
    border: 0;
    background: transparent;
}

#SBKeyword {
    height: 36px;
    font-size: 19px;
    font-weight: bold;
    margin-right: 8px;
    background-color: #08F0FF2E;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 12px;
    color: #00A9B4;
}

.SBIconBox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.2);
}

#SBSearchIconBox {
    padding-right: 16px;
}

#SBKeyword {
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
    background-color: #08F0FF2E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 15px;
    width: fit-content;
    color: #00A9B4;
}

.SBSideBox {
    height: 40px;
    width: 40px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#SBSorterBox {
    height: 40px;
    width: 150px;
    margin-left: 11px;
    display: flex;
    align-items: center;
}

#SBSorterOuter {
    margin-left: 8px;
}

#SBSearchTextBox {
    margin-right: 20px
}

.SBDropDown {
    background-color: white;
    position: absolute;
    width: 50px;
    margin-top: 10px;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
}

#SBFilterBox {
    padding-left: 20px
}

#SBSorterIconBox {
    margin-right: 16px;
}

#SBSorterText {
    color: #9E9E9E;
    flex-grow: 1;
    margin-left: 16px;
    margin-bottom: 2px;
}

.SBKeywordClose {
    display: flex;
    cursor: pointer;
}

.SBFilterText {
    color: #545454;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}