.navbutton {
  border-radius: '8px';
  height: '480px';
  padding-left:  '26px';
  padding-right:  '260px';
  padding-top:  '16px';
  padding-bottom:  '16px';
  font-weight:  'bold';
  font-size:  '14px';
}
