.NBBackground {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 11px;
  min-height: 100vh;
  z-index: 1;
  width: 'fit-content';
}

.NBSpacer {
  height: 40px;
  line-height: 40px;
}