.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReviewTag{
  position: absolute;
  left: 230px;
  top: -3%;

  }


  #Base {
    height: calc(100vh - 3px);
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    background-color: #E8F0F2;
    margin: 0;
    padding: 0;
  }

  #HeaderTexts {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    margin-top: 5%;
    color: black;
    padding-left: 60px;
    font-size: 36px;
    line-height: 42px;;
  }
  
  #HeaderTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;;
  }

  #SectionBG{
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-left: 60px;
  color: #31CAD3;
}

#NullText{
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 28px;
  padding-left: 80px;
  color: #a4b3b4;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #ebebeb00;
}

::-webkit-scrollbar-thumb {
  background: #5c7d8a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a6e83;
}